* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 6vh 90vh 4vh;
    grid-template-areas: "header", "main", "footer";
    text-align: center;
    background-color: whitesmoke;
}

/* Header */
.header {
    grid-area: "header";
    padding: 0 2vh;
    display: flex;
    align-items: center;
    justify-content: start;
    box-shadow: 0 1px 4px gray;
}

/* Main */
.main {
    grid-area: "main";
}

.section {
    display: grid;
    grid-template-rows: 10vh 70vh 10vh;
    grid-template-areas: "message", "container", "restart";
    justify-content: center;
}

#message {
    grid-area: "message";
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    grid-area: "container";
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}

.box {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 24px;
    box-shadow: 0 4px 12px gray;
    font-size: 4rem;
    font-weight: 700;
    background-color: white;
}

@media (max-width: 600px) {
    .box {
        height: 100%;
        width: 100%;
        border-radius: 6px;
    }
}

.button {
    grid-area: "restart";
    display: flex;
    justify-content: center;
}

#restart {
    height: 8vh;
    width: 20vh;
    padding: auto;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    color: white;
    background-color: #3e6ff4;
    transition: box-shadow 0.3s ease-in-out;
}

#restart:hover {
    box-shadow: 0px 2px 10px #3e6ff4;
}

/* Footer */
.footer {
    grid-area: "footer";
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
}
